*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(33, 32, 32);
}


.box{
    height: 400px;
    width: 400px;
    background-color: tan;
    transition: background-color 1.1s ease-out, scale 1.2s ease-in-out;
}



.box:hover{
    background-color: darkseagreen ;
    scale: 1.3;
}