*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(33, 32, 32);
}


.marquee-wraper{
    height: 40vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}


.marquee-track{
    height: 100%;
    width: 100%;
    background-color: red;
    flex-shrink: 0;
    animation: marquee-animation 5.3s linear infinite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

}

.marquee-track img{
    height: 90%;
    object-fit: cover;
}


@keyframes marquee-animation{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}