*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    color: black;
}


#main{
    height: 100%;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

.nav{
    height: 90px;
    width: 100%;
    background-color:royalblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.center{
    height: calc(100% - 90px);
    width: 100%;
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.left{
    height: 100%;
    width: 50%;
    background-color: rgb(235, 198, 53);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-top{

    height: 40%;
    width: 100%;
    background-color: pink;


}

.left-bottom{
    height: 30% ;
    width: 100%;
    background-color: palevioletred;
}


.right{
    height: 100%;
    width: 50%;
    background-color: indianred;
}

.part{
    height: 100%;
    width: 20%;
    background-color: red;
}