*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}


#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(34, 52, 104);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.child1{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
.child2{
    height: 100px;
    width: 100px;
    background-color: rgb(21, 84, 72);
}
.child3{
    height: 100px;
    width: 100px;
    background-color: rgb(148, 102, 23);
}