*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(41, 38, 38);
}


#nav{
    height: 80px;
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#part2{
    display: flex;
    gap: 20px;
}