*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color:#FBFBFB;
    padding: 0 30px;
}

#section1{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 60px;
    width: 100%;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .header{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header i{
    font-size: 30px;
}

.links {
    display: flex;
    gap: 10px;
}

.links a{
    text-decoration: none; 
    color: black;
    font-size: 14px;
    font-weight: 500;

}

.btn{
    display: flex;
    gap: 5px;
}

.btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.btn button:nth-child(2){
    background-color: black;
    color: white;
}

.hero{
    background-color: red;
    height: calc(100% - 60px);
    width: 100%;
    border-radius: 20px;
}