*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color:#FBFBFB;
    padding: 0 30px;
}

#section1{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 60px;
    width: 100%;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .header{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header i{
    font-size: 30px;
}

.links {
    display: flex;
    gap: 10px;
}

.links a{
    text-decoration: none; 
    color: black;
    font-size: 14px;
    font-weight: 500;

}

.btn{
    display: flex;
    gap: 5px;
}

.btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.btn button:nth-child(2){
    background-color: black;
    color: white;
}

.hero{
    background-color: red;
    height: calc(100% - 60px);
    width: 100%;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

}

.hero .left{
    height: 100%;
    width: 45%;
    background-color: crimson;
    padding: 10px 20px;
}


.hero .right{
    height: 100%;

    width: 55%;
    background-color: rgb(243, 57, 113);
}

.left .logos img{
    height: 60px;
}


.left .rating{
    display: flex;
    padding: 15px 20px;
    width: fit-content;
    background-color: rgb(224, 214, 214);
    border-radius: 20px;
    gap: 10px;
    align-items: center;

}

.rating i{
    font-size: 30px;
}

.rating-text span{
    font-size: 12px;
}


.left h1{
    font-size: 80px;
    margin-top: 50px;
    line-height: 70px;
}

.left p{
    font-size: 18px;
    margin-top: 20px;
    opacity: 0.62;
}

.left  .btn{
    margin-top: 20px;
}

.left .btn button{
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 17px;
}

.btn #arrow-left{
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
   
}