@font-face {
    font-family: hihi;
    src: url(./Storm\ Gust.otf);
}

@font-face {
    font-family: nothing;
    src: url(./Ndot-55.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(22, 22, 21);
}

h1{
    color: rgb(134, 22, 14);
    background-color: rgb(13, 14, 14);
    font-size: 40px;
    font-family:nothing;
    font-weight: 200;
    font-style:italic;
    text-align: center;
    text-transform: lowercase;
}